body {
    padding: 0;
    margin: 0;
  }

header {
background-image: url('Images/BannerStripes.jpg');
width: 100%;
height: 100px;
white-space: nowrap;
}

header img{
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

#SmallPadding{
    padding-top: 5px;
}

header th{
    vertical-align: middle;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255,255,89);
    padding-top: 20px;
    font-size: 15pt;
}

header table{
    width: 100%;
}

table{
    text-align: center;
    margin:auto;
    table-layout: fixed;
}

.welcome{
    width: 50%;
    height: 50%;
    margin-top:200px;
    margin-bottom:200px;
}

.welcomeTitle{
    font-size: 50pt;
    width: 20%;
    color: rgb(255, 254, 243);
}

.welcomeSubHeading{
    font-size: 15pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(70, 107, 165);
}

.imageTable{
    width:85%;
    font-size: 14pt;
    color: rgb(70, 107, 165);
}

.tableimages{
    width: 350px;
    height: 250px;
}

.subtext{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 35px;
    padding-right: 35px;

}

#sketch-container{
    position:fixed;
    z-index: -99999;
}
