body {
    padding: 0;
    margin: 0;
  }

header {
background-image: url('Images/BannerStripes.jpg');
width: 100%;
height: 100px;
white-space: nowrap;
position: sticky;
top: 0;
z-index: 999;
}

header img{
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

#SmallPadding{
    padding-top: 5px;
}

header th{
    vertical-align: middle;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255,255,89);
    padding-top: 20px;
    font-size: 18pt;
}

header table{
    width: 100%;
}

table{
    text-align: center;
    margin:auto;
    table-layout: fixed;
}

.welcome{
    width: 50%;
    height: 50%;
    margin-top:200px;
    margin-bottom:200px;
}

.welcomeTitle{
    font-size: 50pt;
    width: 20%;
    color:rgb(26, 26, 26);
}

.welcomeSubHeading{
    font-size: 15pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(70, 107, 165);
}

.imageTable{
    width:85%;
    font-size: 14pt;
    color: rgb(70, 107, 165);
}

.tableimages{
    width: 350px;
    height: 250px;
}

.subtext{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 35px;
    padding-right: 35px;

}

#sketch-container{
    position:fixed;
    z-index: -99999;
}

.sidebanner{
    position: relative;
    text-align: center;
    margin-bottom: 0px;
}

.bannerimg{
    width: 400px;
    height: 75px;
    margin-top:120px;
}

.leftText{
    position: absolute;
    top: 145px;
    left: 42%;
    color: rgb(231,51,36);
    font-family: 'Times New Roman', Times, serif;
    font-size:30px;
    font-weight: bold;
}



.scheduleTable{
    width:70%;
    font-size: 14pt;
    text-align: left;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom:40px;
}

.cells{
    border: 1px solid rgb(70, 107, 165);;
    color: rgb(26, 26, 26);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

th.cells{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
}

h2{
    font-size: 15pt;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.planeImg{
    margin-left:10px;
    margin-top: 55px;
    width: 20%;
    height:15%;
}
