body {
    padding: 0;
    margin: 0;
  }

header {
    background-image: url('Images/BannerStripes.jpg');
    width: 100%;
    height: 100px;
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 999;
}

header img{
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

#SmallPadding{
    padding-top: 5px;
}

header th{
    vertical-align: middle;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255,255,89);
    padding-top: 20px;
    font-size: 18pt;
}

header table{
    width: 100%;
}

table{
    text-align: center;
    margin:auto;
    table-layout: fixed;
}

